.idea/
.vscode/
env/
venv/
env_mailganer/

migrations/**/__pycache__/
migrations/*.pyc
__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.tmp
*.swp
*.swo

db.sqlite3
*.sqlite3-journal

celerybeat.pid
celerybeat-schedule.*

#static/
#media/